@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This privacy policy will explain how our Company (the controller) uses the personal data we collect from you when you use this website.</p>
<p>You can get full information about our Company and contact information at the main website <a href="https://cepris.si">CEPRIS d.o.o.</a></p>

<h2>What is the basis for data processing?</h2>
<p>Processing is necessary for the purposes of the legitimate interests pursued by the controller (Article 6/f of the GDPR).</p>
<p>Primary purpose is to support security operations of running this website.</p>

<h2>What data do we collect?</h2>
<p>We are collecting the following data:</p>
<ul>
    <li>IP address of the request</li>
    <li>Requested webpage</li>
    <li>Time of the request</li>
    <li>Protocol information</li>
    <li>Server information</li>
</ul>
<h2>How do we collect your data?</h2>
<p>We collect your data when you use the webpage automatically.</p>
<h2>How will we use your data?</h2>
<p>We are collecting data so we can:</p>
<ul>
    <li>Detect anomalies in the operation of the website and/or application</li>
    <li>Detect and analyze security incidents</li>
    <li>Calculate and analyze usage statistics (aggregated anonymized data only)</li>
</ul>
<h2>How do we store your data?</h2>
<p>The data is securely stored as part of the web server log on the web server for a year.</p>
<h2>What are your data protection rights?</h2>
<p>Our Company would like to make sure you are fully aware of all of your data protection rights.</p>
<p>Please note that we cannot fully identify any person using IP address only. Therefore any request you send regarding your data protection rights it has to include proof that you were the only user of the IP address in the timeframe your request relates to.</p>
<p>Every user is entitled to the following:</p>
<ul>
    <li><span class="font-weight-bold">The right to access</span> – You have the right to request Our Company for copies of your personal data.</li>
    <li><span class="font-weight-bold">The right to rectification</span> – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
    <li><span class="font-weight-bold">The right to erasure</span> – You have the right to request that Our Company erase your personal data, under certain conditions.</li>
    <li><span class="font-weight-bold">The right to restrict processing</span> – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
    <li><span class="font-weight-bold">The right to object to processing</span> – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</li>
    <li><span class="font-weight-bold">The right to data portability</span> – We do not provide data portability for the data that we have collected because Article 20 of the GDPR does not apply.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: info@cepris.si</p>
<h2>Do we use cookies?</h2>
<p>Yes, we use technical cookies that are required for this website to function properly. We do not use any kind of tracking or marketing cookies.</p>
<h2>Changes to our privacy policy</h2>
<p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 26th of February 2022.</p>
<h2>How to contact the appropriate authority</h2>
<p>Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
<p>Email:  gp.ip@ip-rs.si</p>
<p>Address: Informacijski pooblaščenec, Dunajska cesta 22, 1000 Ljubljana, Slovenija</p>
<p>Phone: +386 1 230 97 30</p>